.d-a-s-h-b-o-a-r-d-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  list-style-type: disc;
  background-color: #ffffff;
  list-style-image: none;
  list-style-position: outside;
}
.d-a-s-h-b-o-a-r-d-h-e-a-d-e-r {
  position: relative;
}
.d-a-s-h-b-o-a-r-d-logo {
  width: 165px;
  object-fit: cover;
}
.d-a-s-h-b-o-a-r-d-a-l-p-h-a {
  top: 0px;
  left: 118px;
  position: absolute;
}
.d-a-s-h-b-o-a-r-d-container1 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.d-a-s-h-b-o-a-r-d-navlink {
  color: var(--dl-color-scheme-white);
  border-color: #a80379;
  text-decoration: none;
  background-color: #a80379;
}
.d-a-s-h-b-o-a-r-d-w-e-l-c-o-m-e {
  margin-top: var(--dl-space-space-threeunits);
}
.d-a-s-h-b-o-a-r-d-text {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}
.d-a-s-h-b-o-a-r-d-u-p-d-a-t-e-s {
  margin-top: var(--dl-space-space-threeunits);
}
.d-a-s-h-b-o-a-r-d-container2 {
  margin-top: var(--dl-space-space-twounits);
}
.d-a-s-h-b-o-a-r-d-text02 {
  font-size: 16px;
  font-style: normal;
  font-family: IBM Plex Sans Condensed;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
.d-a-s-h-b-o-a-r-d-s-l-a-y-m-a-s-t-e-r-s-v-i-d-e-o {
  height: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.d-a-s-h-b-o-a-r-d-iframe {
  width: 100%;
  height: 600px;
}
.d-a-s-h-b-o-a-r-d-c-a-l-e-n-d-a-r {
  height: 600px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.d-a-s-h-b-o-a-r-d-iframe1 {
  width: 1052px;
  height: 100%;
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.d-a-s-h-b-o-a-r-d-container3 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--dl-space-space-twounits);
}
.d-a-s-h-b-o-a-r-d-h3-u-p-c-o-m-i-n-g-a-s-s-i-g-n-e-n-t-s {
  width: 100%;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.d-a-s-h-b-o-a-r-d-h3-t-o-o-l-s {
  width: 100%;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.d-a-s-h-b-o-a-r-d-link {
  display: contents;
}
.d-a-s-h-b-o-a-r-d-component1 {
  text-decoration: none;
}
.d-a-s-h-b-o-a-r-d-link1 {
  display: contents;
}
.d-a-s-h-b-o-a-r-d-component3 {
  text-decoration: none;
}
.d-a-s-h-b-o-a-r-d-component4 {
  text-decoration: none;
}
.d-a-s-h-b-o-a-r-d-link2 {
  display: contents;
}
.d-a-s-h-b-o-a-r-d-component6 {
  text-decoration: none;
}
.d-a-s-h-b-o-a-r-d-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.d-a-s-h-b-o-a-r-d-consultations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.d-a-s-h-b-o-a-r-d-f-o-o-t-e-r {
  margin-top: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.d-a-s-h-b-o-a-r-d-container5 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.d-a-s-h-b-o-a-r-d-image {
  height: 2rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.d-a-s-h-b-o-a-r-d-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #D9D9D9;
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.d-a-s-h-b-o-a-r-d-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.d-a-s-h-b-o-a-r-d-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.d-a-s-h-b-o-a-r-d-f-a-q {
  font-style: normal;
  font-weight: 700;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.d-a-s-h-b-o-a-r-d-link3 {
  display: contents;
}
.d-a-s-h-b-o-a-r-d-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.d-a-s-h-b-o-a-r-d-link4 {
  display: contents;
}
.d-a-s-h-b-o-a-r-d-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
@media(max-width: 767px) {
  .d-a-s-h-b-o-a-r-d-consultations {
    justify-content: center;
  }
  .d-a-s-h-b-o-a-r-d-image {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .d-a-s-h-b-o-a-r-d-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .d-a-s-h-b-o-a-r-d-container6 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .d-a-s-h-b-o-a-r-d-text10 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .d-a-s-h-b-o-a-r-d-logo {
    width: 120px;
  }
  .d-a-s-h-b-o-a-r-d-a-l-p-h-a {
    top: -2px;
    left: 75px;
  }
  .d-a-s-h-b-o-a-r-d-consultations {
    justify-content: center;
  }
  .d-a-s-h-b-o-a-r-d-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .d-a-s-h-b-o-a-r-d-container6 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .d-a-s-h-b-o-a-r-d-text10 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
