.component-container {
  display: flex;
  position: relative;
}
.component-link {
  color: #fbfcfd;
  border-color: #fafcff;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #a80379;
}
